<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#fff" type = "ball-atom">
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<div class="container">
  <h1>Inicia sesion</h1>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" class="form-control" required #userEmail>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" class="form-control" required #userPass>
    </div>
    <button class="btn btn-success"  (click)="login(userEmail.value,userPass.value)" >Iniciar sesion</button>
  <div class="alert alert-danger" *ngIf="error">
    {{error}}
  </div>
</div>
