<div class="container">
  <h1>Inicia sesion</h1>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" class="form-control" required #userEmail>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" class="form-control" required #userPass>
    </div>
    <button class="btn btn-success"  (click)="login(userEmail.value,userPass.value)" >Iniciar sesion</button>
  <div *ngIf="error" class="alert alert-danger">
    Tus credenciales son incorrectas
  </div>
</div>
