<agm-map
  [latitude]="currentLatitude"
  [longitude]="currentLongitude"
  [zoom]="15"
  [mapTypeControl]="true"
  [disableDefaultUI]="false"
  [streetViewControlOptions]="true">
  <agm-marker [latitude]="currentLatitude" [longitude]="currentLongitude">
    <agm-info-window>
      <pre style="background-color: yellow;">{{currentLongitude}}, {{currentLatitude}}</pre>
      My Current Location
    </agm-info-window>
  </agm-marker>
  <agm-marker
    *ngFor="let mark of empresas"
    [latitude]="mark.latitud"
    [longitude]="mark.longitud"
    [animation]="DROP"
    [openInfoWindow]="true">
    <agm-info-window [maxWidth]="300">
      <div>
        <ul>
          <li><h5>{{mark.nombre}}</h5></li>
          <li>Direccion: {{mark.direccion}}</li>
          <star-rating [numOfStars]="5" [rating]=mark.valoracion [disabled]="true" [showHalfStars]="true">
          </star-rating>
          <li><a class="btn btn-danger" (click)="pedirGrua(mark)">Pedir grua</a></li>
        </ul>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>

<button class="btn btn-warning" (click)="buscarGrua()">Buscar Gruas</button>
