<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <button class="btn btn-primary" (click)="goBack.next()">
    Volver
  </button>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Detalle del servicio</h3></div>
    <div class="panel-body">
      <ul class="detalle_servicio">
        <li><b>Fecha:</b> {{servicio.created_at.fecha | date:"dd/MM/yyyy hh:mm:ss a"}} <i class="label label-default">{{servicio.created_at.human}}</i>
        </li>
        <li><b>Descripcion cliente:</b> {{servicio.descripcion}}</li>
        <li><b>Descripcion chofer:</b> {{servicio.descripcion_chofer}}</li>
        <li><b>Precio en pesos:</b> {{servicio.precio_pesos | currency}}</li>
        <li><b>Precio del dolar el dia del servicio:</b> {{servicio.precio_dolar | currency}}</li>
        <li><b>Precio final en dolares:</b> {{servicio.precio_final | currency}}</li>
      </ul>
      <div class="col-md-6 col-xs-12">
        <star-rating [numOfStars]="5" [rating]="servicio.evaluacion_cliente" [readOnly]="true"
                     [labelText]="'Evaluacion cliente'"></star-rating>
      </div>
      <div class="col-md-6 col-xs-12">
        <star-rating [numOfStars]="5" [rating]="servicio.evaluacion_empresa" [readOnly]="true"
                     [labelText]="'Evaluacion chofer'"></star-rating>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Detalle del vehiculo</h3></div>
    <div class="panel-body">
      <ul class="detalle_servicio">
        <li><b>Marca:</b> {{servicio.vehiculo_info.marca}}</li>
        <li><b>Modelo:</b> {{servicio.vehiculo_info.modelo}}</li>
        <li><b>Color:</b> {{servicio.vehiculo_info.color}}</li>
        <li><b>Patente:</b> {{servicio.vehiculo_info.patente_vehiculo}}</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Detalle del grua</h3></div>
    <div class="panel-body">
      <ul class="detalle_servicio">
        <li><b>Marca:</b> {{servicio.grua_info.marca}}</li>
        <li><b>Modelo:</b> {{servicio.grua_info.modelo}}</li>
        <li><b>Color:</b> {{servicio.grua_info.tipo | titlecase}}</li>
        <li><b>Patente:</b> {{servicio.grua_info.patente}}</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Detalle piloto</h3></div>
    <div class="panel-body">
      <ul class="detalle_servicio">
        <li><b>Nombre:</b> {{servicio.chofer_info.nombre_completo}}</li>
        <li><b>Rut:</b> {{servicio.chofer_info.rut}}</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Detalle cliente</h3></div>
    <div class="panel-body">
      <ul class="detalle_servicio">
        <li><b>Nombre:</b> {{servicio.cliente_info.nombre_completo}}</li>
        <li><b>Rut:</b> {{servicio.cliente_info.rut}}</li>
        <li><b>Email:</b> {{servicio.cliente_info.email}}</li>
        <li><b>Telefono celular:</b> {{servicio.cliente_info.celular}}</li>
        <li><b>Telefono fijo:</b> {{servicio.cliente_info.telefono_fijo}}</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Fotos del vehiculo</h3></div>
    <div class="panel-body">
      <div *ngFor="let foto_dano of servicio.fotos_danos">
        <a href="{{foto_dano.url}}" target="_blank"><img src="{{foto_dano.url}}" class="img-responsive img-rounded col-md-6 col-sm-12 col-xs-12">
        </a>
      </div>
    </div>
  </div>
</div>
