<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a (click)="home()" class="navbar-brand">Tesis UBB</a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
  <li *ngIf="loggedIn && user.tipo_usuario === 'cliente'">
    <a (click)="pedirServicio()">
      <i class="fa fa-car fa-fw"></i> Pedir servicio
    </a>
  </li>
  <li *ngIf="loggedIn">
    <a (click)="intranet()">
      <i class="fa fa-clipboard fa-fw"></i>Panel de control
    </a>
  </li>
  <li *ngIf="loggedIn" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw"></i>Hola {{user.nombre}} <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
      </li>
      <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
      </li>
      <li class="divider"></li>
      <li><a (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesion</a>
      </li>
    </ul>
    <!-- /.dropdown-user -->
  </li>
  <li *ngIf="!loggedIn">
    <a (click)="register()">
      <i class="fa fa-user fa-fw"></i>Registrarse
    </a>
  </li>
  <li *ngIf="!loggedIn">
    <a (click)="login()">
      <i class="fa fa-sign-in fa-fw"></i> Iniciar sesion
    </a>
  </li>
  <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->
