<div class="container">
  <h2>Crear cuenta</h2>
  <form #registerForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="nombres">Nombres</label>
      <input id="nombres" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="ap_paterno">Apellido Paterno</label>
      <input id="ap_paterno" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="ap_materno">Apellido Materno</label>
      <input id="ap_materno" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="rut">Rut</label>
      <input id="rut" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="celular">Telefono celular</label>
      <input id="celular" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="telefono_fijo">Telefono fijo</label>
      <input id="telefono_fijo" class="form-control">
    </div>
    <button type="submit" class="btn btn-danger" [disabled]="!registerForm.form.valid">Crear cuenta</button>
  </form>
</div>
